In [405]:
#Dependencies
import pandas as pd
import numpy as np

In [406]:
#File to load
school_csvpath = "Resources/schools_complete.csv"
students_csvpath = "Resources/students_complete.csv"

In [407]:
#Read School and Student Data File and store into Pandas Dataframes
school_data = pd.read_csv(school_csvpath)
student_data = pd.read_csv(students_csvpath)

In [408]:
#combine the data into a single dataset.
all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [442]:
#calculate the total # of schools
grouped_school_names = all_data.groupby(["school_name"])
total_schools = len(grouped_school_names)

In [443]:
#calculate the total # of students
total_students = len(all_data["Student ID"])

In [444]:
#calculate the total budget
total_budget = school_data["budget"].sum()

In [445]:
#calculate the average math score
math_score = student_data["math_score"].mean()

In [446]:
#calculate the average reading score
reading_score = student_data["reading_score"].mean()

In [447]:
#calculate the percentage of students with a passing math score
good_math_students = all_data.loc[all_data["math_score"]>=70]
total_good_math = len(good_math_students)
percentage_passing_math = (total_good_math/total_students)*100

In [448]:
#calculate the percentage of students with a passing reading score
good_readers = all_data.loc[all_data["reading_score"]>=70]
total_good_readers = len(good_readers)
percentage_passing_reading = (total_good_readers/total_students)*100

In [449]:
#calculate the percentage of students who passed math and reading
overall_passing = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)]["student_name"].count()
overall_passing_percentage = (overall_passing/total_students)*100

In [473]:
#create a dataframe to hold the results
district_summary = pd.DataFrame(
    {"Total Schools":[total_schools],
                                "Total Students":[total_students],
                                "Total Budget":[total_budget],
                                "Average Math Score":[math_score],
                                "Average Reading Score":[reading_score],
                                "% Passing Math":[percentage_passing_math],
                                "% Passing Reading":[percentage_passing_reading],
                                "% Overall Passing":[overall_passing_percentage]
    })

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [431]:
#create an overview table that summarizes:
#school name
school_name = all_data.groupby("school_name")["school_name"]

In [432]:
#school type
school_type = school_data.set_index("school_name")["type"]

In [433]:
#total students
students_per_school = all_data.groupby("school_name")["Student ID"].count()

In [434]:
#total school budget
budget_per_school = all_data.groupby("school_name")["budget"].mean()

In [435]:
#calculate per student budget
per_student_budget = (budget_per_school/students_per_school)

In [436]:
#calculate average math score
math_score2 = all_data.groupby("school_name")["math_score"].mean()

In [437]:
#calculate average reading score
reading_score2 = all_data.groupby("school_name")["reading_score"].mean()

In [438]:
#calculate % passing math
good_math_students2 = all_data[all_data["math_score"]>=70].groupby("school_name")["Student ID"].count()/students_per_school
percent_passing_math2 = good_math_students2 * 100

In [439]:
#calcaulate % passing reading
good_readers2 = all_data[all_data["reading_score"]>=70].groupby("school_name")["Student ID"].count()/students_per_school
percent_passing_reading2 = good_readers2 * 100

In [440]:
#calculate overall % passing 
overall_passing2 = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)].groupby("school_name")["Student ID"].count()/students_per_school
overall_percentage_passing2 = overall_passing2 * 100

In [481]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame(
    {"School Type":school_type,
     "Total Students":students_per_school,
     "Total School Budget":budget_per_school.map("${0:,.2f}".format),
     "Per Student Budget":per_student_budget.map("${0:.2f}".format),
     "Average Math Score":math_score2,
     "Average Reading Score":reading_score2,
     "% Passing Math":percent_passing_math2,
     "% Passing Reading":percent_passing_reading2,
     "% Overall Passing":overall_percentage_passing2,
    })

#Formatting
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [489]:
#Sort and display the five best-performing schools by % overall passing
top5 = school_summary.sort_values("% Overall Passing", ascending=False)
top5.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [490]:
#Sort and display the five worst-performing schools by % overall passing
bottom5 = school_summary.sort_values("% Overall Passing", ascending=True)
bottom5.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [496]:
#Create a table that lists the average Math Score for students of each grade level(9th,10th,11th,12th) at each school
ninth_math = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
tenth_math = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
eleventh_math = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["math_score"].mean()
twelfth_math = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["math_score"].mean()

math_scores = pd.DataFrame({
    "9th": round(ninth_math,2),
    "10th": round(tenth_math,2),
    "11th": round(eleventh_math,2),
    "12th": round(twelfth_math,2)
})

math_scores

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [499]:
#Create a table that lists the average Reading Score for students of each grade level(9th,10th,11th,12th) at each school
ninth_reading = student_data.loc[student_data["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
tenth_reading = student_data.loc[student_data["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
eleventh_reading = student_data.loc[student_data["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
twelfth_reading = student_data.loc[student_data["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

reading_scores = pd.DataFrame({
    "9th": round(ninth_reading,2),
    "10th": round(tenth_reading,2),
    "11th": round(eleventh_reading,2),
    "12th": round(twelfth_reading,2)
})

reading_scores

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07