In [44]:
#Dependencies
import pandas as pd
import numpy as np

In [45]:
#File to load
school_csvpath = "Resources/schools_complete.csv"
students_csvpath = "Resources/students_complete.csv"

In [46]:
#Read School and Student Data File and store into Pandas Dataframes
school_data = pd.read_csv(school_csvpath)
student_data = pd.read_csv(students_csvpath)

In [47]:
#combine the data into a single dataset.
all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [48]:
#calculate the total # of schools
grouped_school_names = all_data.groupby(["school_name"])
total_schools = len(grouped_school_names)
total_schools

15

In [49]:
#calculate the total # of students
total_students = len(all_data["Student ID"])
total_students

39170

In [50]:
#calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [51]:
#calculate the average math score
math_score = student_data["math_score"].mean()
math_score

78.98537145774827

In [52]:
#calculate the average reading score
reading_score = student_data["reading_score"].mean()
reading_score

81.87784018381414

In [53]:
#calculate the percentage of students with a passing math score
good_math_students = all_data.loc[all_data["math_score"]>=70]
total_good_math = len(good_math_students)
percentage_passing_math = (total_good_math/total_students)*100
percentage_passing_math

74.9808526933878

In [54]:
#calculate the percentage of students with a passing reading score
good_readers = all_data.loc[all_data["reading_score"]>=70]
total_good_readers = len(good_readers)
percentage_passing_reading = (total_good_readers/total_students)*100
percentage_passing_reading

85.80546336482001

In [55]:
#calculate the percentage of students who passed math and reading
overall_passing = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)]["student_name"].count()
overall_passing_percentage = (overall_passing/total_students)*100
overall_passing_percentage

65.17232575950983

In [56]:
#create a dataframe to hold the results
district_summary = pd.DataFrame(
    {"Total Schools":[total_schools],
                                "Total Students":[total_students],
                                "Total Budget":[total_budget],
                                "Average Math Score":[math_score],
                                "Average Reading Score":[reading_score],
                                "% Passing Math":[percentage_passing_math],
                                "% Passing Reading":[percentage_passing_reading],
                                "% Overall Passing":[overall_passing_percentage]
    })
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [174]:
#create an overview table that summarizes:
#school name
school_name = all_data.groupby("school_name")["school_name"]

0         Huang High School
1         Huang High School
2         Huang High School
3         Huang High School
4         Huang High School
                ...
37535    Thomas High School
37536    Thomas High School
37537    Thomas High School
37538    Thomas High School
37539    Thomas High School
Name: school_name, Length: 75, dtype: object

In [173]:
#school type
school_type = all_data.groupby("school_name")["type"]

0        District
1        District
2        District
3        District
4        District
           ...
37535     Charter
37536     Charter
37537     Charter
37538     Charter
37539     Charter
Name: type, Length: 75, dtype: object

In [169]:
#total students
students_per_school = all_data.groupby("school_name")["Student ID"].count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [175]:
#total school budget
budget_per_school = all_data.groupby("school_name")["budget"].mean()
budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [176]:
#calculate per student budget
per_student_budget = (budget_per_school/students_per_school)
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [177]:
#calculate average math score
math_score2 = all_data.groupby("school_name")["math_score"].mean()
math_score2

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [178]:
#calculate average reading score
reading_score2 = all_data.groupby("school_name")["reading_score"].mean()
reading_score2

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [179]:
#calculate % passing math
good_math_students2 = all_data[all_data["math_score"]>=70].groupby("school_name")["Student ID"].count()/students_per_school
percent_passing_math2 = good_math_students2 * 100
percent_passing_math2

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [180]:
#calcaulate % passing reading
good_readers2 = all_data[all_data["reading_score"]>=70].groupby("school_name")["Student ID"].count()/students_per_school
percent_passing_reading2 = good_readers2 * 100
percent_passing_reading2

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [181]:
#calculate overall % passing 
overall_passing2 = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)].groupby("school_name")["Student ID"].count()/students_per_school
overall_percentage_passing2 = overall_passing2 * 100
overall_percentage_passing2

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [188]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame(
    {"Total Students":[students_per_school],
     "Total School Budget":[budget_per_school],
     "Average Math Score":[math_score2],
     "Average Reading Score":[reading_score2],
     "% Passing Math":[percent_passing_math2],
     "% Passing Reading":[percent_passing_reading2],
     "% Overall Passing":[overall_percentage_passing2],
    })

school_summary

,Total Students,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928 C...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...