In [405]:
#Dependencies
import pandas as pd
import numpy as np

In [406]:
#File to load
school_csvpath = "Resources/schools_complete.csv"
students_csvpath = "Resources/students_complete.csv"

In [407]:
#Read School and Student Data File and store into Pandas Dataframes
school_data = pd.read_csv(school_csvpath)
student_data = pd.read_csv(students_csvpath)

In [408]:
#combine the data into a single dataset.
all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [442]:
#calculate the total # of schools
grouped_school_names = all_data.groupby(["school_name"])
total_schools = len(grouped_school_names)

In [443]:
#calculate the total # of students
total_students = len(all_data["Student ID"])

In [444]:
#calculate the total budget
total_budget = school_data["budget"].sum()

In [445]:
#calculate the average math score
math_score = student_data["math_score"].mean()

In [446]:
#calculate the average reading score
reading_score = student_data["reading_score"].mean()

In [447]:
#calculate the percentage of students with a passing math score
good_math_students = all_data.loc[all_data["math_score"]>=70]
total_good_math = len(good_math_students)
percentage_passing_math = (total_good_math/total_students)*100

In [448]:
#calculate the percentage of students with a passing reading score
good_readers = all_data.loc[all_data["reading_score"]>=70]
total_good_readers = len(good_readers)
percentage_passing_reading = (total_good_readers/total_students)*100

In [449]:
#calculate the percentage of students who passed math and reading
overall_passing = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)]["student_name"].count()
overall_passing_percentage = (overall_passing/total_students)*100

In [452]:
#create a dataframe to hold the results
district_summary = pd.DataFrame(
    {"Total Schools":[total_schools],
                                "Total Students":[total_students],
                                "Total Budget":[total_budget],
                                "Average Math Score":[math_score],
                                "Average Reading Score":[reading_score],
                                "% Passing Math":[percentage_passing_math],
                                "% Passing Reading":[percentage_passing_reading],
                                "% Overall Passing":[overall_passing_percentage]
    })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [431]:
#create an overview table that summarizes:
#school name
school_name = all_data.groupby("school_name")["school_name"]

In [432]:
#school type
school_type = school_data.set_index("school_name")["type"]

In [433]:
#total students
students_per_school = all_data.groupby("school_name")["Student ID"].count()

In [434]:
#total school budget
budget_per_school = all_data.groupby("school_name")["budget"].mean()

In [435]:
#calculate per student budget
per_student_budget = (budget_per_school/students_per_school)

In [436]:
#calculate average math score
math_score2 = all_data.groupby("school_name")["math_score"].mean()

In [437]:
#calculate average reading score
reading_score2 = all_data.groupby("school_name")["reading_score"].mean()

In [438]:
#calculate % passing math
good_math_students2 = all_data[all_data["math_score"]>=70].groupby("school_name")["Student ID"].count()/students_per_school
percent_passing_math2 = good_math_students2 * 100

In [439]:
#calcaulate % passing reading
good_readers2 = all_data[all_data["reading_score"]>=70].groupby("school_name")["Student ID"].count()/students_per_school
percent_passing_reading2 = good_readers2 * 100

In [440]:
#calculate overall % passing 
overall_passing2 = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)].groupby("school_name")["Student ID"].count()/students_per_school
overall_percentage_passing2 = overall_passing2 * 100

In [441]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame(
    {"School Type":school_type,
     "Total Students":students_per_school,
     "Total School Budget":budget_per_school.map("${0:.2f}".format),
     "Per Student Budget":per_student_budget.map("${0:.2f}".format),
     "Average Math Score":math_score2,
     "Average Reading Score":reading_score2,
     "% Passing Math":percent_passing_math2,
     "% Passing Reading":percent_passing_reading2,
     "% Overall Passing":overall_percentage_passing2,
    })

school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,$3124928.00,$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,$1884411.00,$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,$1763916.00,$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,$917500.00,$625.00,83.351499,83.816757,93.392371,97.138965,90.599455