In [4]:
#Dependencies
import pandas as pd

In [5]:
#File to load
school_csvpath = "Resources/schools_complete.csv"
students_csvpath = "Resources/students_complete.csv"

In [6]:
#Read School and Student Data File and store into Pandas Dataframes
school_data = pd.read_csv(school_csvpath)
student_data = pd.read_csv(students_csvpath)

In [7]:
#combine the data into a single dataset.
all_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [19]:
#calculate the total # of schools
grouped_school_names = all_data.groupby(["school_name"])
total_schools = len(grouped_school_names)
total_schools

15

In [20]:
#calculate the total # of students
total_students = len(all_data["Student ID"])
total_students

39170

In [78]:
#calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [79]:
#calculate the average math score
math_score = student_data["math_score"].mean()
math_score

78.98537145774827

In [80]:
#calculate the average reading score
reading_score = student_data["reading_score"].mean()
reading_score

81.87784018381414

In [81]:
#calculate the percentage of students with a passing math score
good_math_students = all_data.loc[all_data["math_score"]>=70]
total_good_math = len(good_math_students)
percentage_passing_math = (total_good_math/total_students)*100
percentage_passing_math

74.9808526933878

In [82]:
#calculate the percentage of students with a passing reading score
good_readers = all_data.loc[all_data["reading_score"]>=70]
total_good_readers = len(good_readers)
percentage_passing_reading = (total_good_readers/total_students)*100
percentage_passing_reading

85.80546336482001

In [83]:
#calculate the percentage of students who passed math and reading
overall_passing = all_data[(all_data["reading_score"]>=70) & (all_data["math_score"]>=70)]["student_name"].count()
overall_passing_percentage = (overall_passing/total_students)*100
overall_passing_percentage

65.17232575950983

In [77]:
#create a dataframe to hold the results
district_summary = pd.DataFrame(
    {"Total Schools":[total_schools],
                                "Total Students":[total_students],
                                "Total Budget":[total_budget],
                                "Average Math Score":[math_score],
                                "Average Reading Score":[reading_score],
                                "% Passing Math":[percentage_passing_math],
                                "% Passing Reading":[percentage_passing_reading],
                                "% Overall Passing":[overall_passing_percentage]
    })
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [37]:
#calculate the per student budget
budget_per_student = total_budget/total_students
budget_per_student

629.2935409752362